* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "微软雅黑",sans-serif;
}

body{
    background-color: #f5f5f5;
    padding: 20px;
}

.todo-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px; /*圆角*/
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); /*阴影设置，上0 右左2px 下10px 黑色*/
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.todo-input {
    display: flex; /* 输入框和按钮并排 */
    gap:10px; /*控制子元素之间的间距，使其该容器中所有子元素之间自动产生10px的间距而不用给每个子元素单独加margin*/
    margin-bottom: 25px;
    align-items: center;
}

#todoText {
    flex: 1; /* 输入框占满剩余宽度 */
    padding: 10px 15px;
    border: 2px solid #eee;
    border-radius: 6px;
    font-size: 16px;
}

#addBtn,.clear-btn {
    width:100px;
    padding: 10px 0;
    border:none;
    border-radius: 6px;
    cursor:pointer; /*鼠标放上去变手型*/
    font-size: 16px;
    white-space: nowrap; /* 防止按钮文字换行 */
}

#addBtn {
    background-color: #4CAF50;
    color: white;
}

#addBtn:hover { /*当鼠标移动该位置时显示效果是变为另外一个颜色，实现交互感*/
    background-color: #45a049;
}

.todo-item {
    display: flex;
    justify-content: space-between; /* 文字左，按钮右 */
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-bottom: 8px;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:14px;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.clear-btn {
    background-color: #ff9800;
    color: white;
}

.clear-btn:hover {
    background-color: #e68900;
}

.todo-item.done span {
    color: #999;
    text-decoration: line-through;
}